fastapi
uvicorn
pydantic<=2.12.3
torch
torchvision
transformers
accelerate
bitsandbytes
trl
peft
datasets
amrlib
python-multipart
pyngrok
word2number
penman
unidecode
huggingface_hub
sentencepiece
protobuf
celery
redis
python-jose[cryptography]
passlib[bcrypt]
slowapi
numpy<2.1
pillow<12.0
nltk
