fastapi
uvicorn
pydantic
torch
transformers
accelerate
bitsandbytes
amrlib
python-multipart
pyngrok
word2number
penman
unidecode
huggingface_hub
sentencepiece
protobuf
celery
redis
python-jose[cryptography]
passlib[bcrypt]
slowapi
flash-attn
